{{view 'fullpage-view'}}
{{view 'malihu-view'}}
{{!-- <div id="footer">
  <form {{action "postStatement" newPost on="submit" }}>
    {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
    <div id="recaptcha"></div>
    <div class="status-text">
      {{#if verifyingCaptcha}}
      <p>Verifying Captcha...</p>
      {{/if}} {{#if showingCaptcha}}
      <p>Getting a Captcha...</p>
      {{/if}} {{#if captchaVerified }}
      <p>Now that we know you are a human, hit post again to share.</p>
      {{/if}} {{#if tryAgain}}
      <p>Try again...</p>
      {{/if}}
    </div>
    <button class="button radius" type="submit">Post</button>
  </form>
</div> --}}
<div id="fullpage">
  <div class="section " id="section0">
    <div class="slide" id="slide1">
      <div class="intro">
        <h1>RealFeelz</h1>
        <p>Anonymously share your true self</p>
      </div>
    </div>
    <div class="slide" id="slide2">
      <h1>Truth</h1>
    </div>
    <div class="slide" id="slide2">
      <h1>Confession</h1>
    </div>
    <div class="slide" id="slide2">
      <h1>Awareness</h1>
    </div>
    <div class="slide" id="slide2">
      <h1>Connection</h1>
    </div>
  </div>

  <div class="section" id="section1">
    <div class="intro">
      <div class="section">
      <div class="row">
      <div class="large-12 columns">
      <div id="demo">
        <section id="examples">

          {{!-- <hr /> --}}

          <h2>What's Real For You?</h2>
          <div id="content-1" class="content">
            <hr />
            <ul>
              {{#each}}
              <p class="truths">{{body}}</p>
              {{/each}}
            </ul>
            {{!-- <hr /> --}}
            <p>End of content.</p>
          </div>

        </section>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>About</h1>
    </div>
  </div>
</div>
