{{view "malihu-view"}}

<div class="row">
  <div class="small-12 medium-10 large-8 centered-columns">
    <form {{action "postStatement" newPost on="submit" }}>
      {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
      <div id="recaptcha"></div>
      <div class="status-text">
        {{#if verifyingCaptcha}}
        <p>Verifying Captcha...</p>
        {{/if}} {{#if showingCaptcha}}
        <p>Getting a Captcha...</p>
        {{/if}} {{#if captchaVerified }}
        <p>Now that we know you are a human, hit post again to share.</p>
        {{/if}} {{#if tryAgain}}
        <p>Try again...</p>
        {{/if}}
      </div>
      <button class="button radius" type="submit">Post</button>
    </form>
  </div>
</div>

<div class="row">
<div class="large-12 columns">
<div id="demo">
  <section id="examples">
    <h2>Truth, Confession, Awareness, Connection</h2>
    {{!-- <div id="content-1" class="content"> --}}
      {{!-- <h2>theme: "minimal"</h2> --}}
    <div class="content mCustomScrollbar">
      <hr />
      <div class="row">
      <div class="large-12 columns">
      <div class="statement-container">
        <ul>
          {{#each}}
          <p class="truths">{{body}}</p>
          {{/each}}
        </ul>
      </div>
      </div>
      </div>
    </div>
    <hr />
  </section>
</div>
</div>
</div>

<hr/>
<div class="row">
  <div class="small-12 medium-10 large-8 columns">
    <p id="copyright">{{#link-to 'index'}}©RealFeelz 2014{{/link-to}}</p>
  </div>
</div>

{{!-- <div id="demo">
  <section id="examples" class="sortable">
    <div id="sortable" class="content">
      <h2>Sortable content</h2>
      <hr />
      <ul>
        <li>
          {{#each}}
          <p class="truths">{{body}}</p>
          {{/each}}
        </li>
      </ul>
    </div>
    <hr />
  </section>
</div> --}}
