{{!-- {{view 'foundation-view'}} --}}
{{view 'stickykit-view'}}
{{view 'fullbackground-view'}}

<img src="https://unsplash.imgix.net/photo-1416424312427-baefa7707d85?q=75&fm=jpg&s=b2ec9ff1f29da95d081f2c1155020fcc" id="bg" alt="">

<div class="row">
  <div class="small-12 medium-10 large-10 small-centered columns">
    <div id="page-wrap">

      <div class="row">
        <div class="small-12 medium-10 large-10 small-centered columns">
          <header class="realfeelz heavy">
            <h2>{{#link-to 'willamette'}}RealFeelz{{/link-to}}</h2>
            <h3>What's Real For Your Right Now?</h3>
            <h4>Anonymously Share What's True For You</h4>
          </header>
        </div>
      </div>

      <footer class="section-bg-color2">
        <div class="row">
          <div class="small-12 medium-12 large-12 columns">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-12 large-12 columns">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </footer>

    </div>
  </div>
</div>

{{!-- <div class="row">
  <div class="small-12 medium-10 large-10 small-centered columns">
    <div id="page-wrap"> --}}

      <div id="sticky_item">
          <div class="section-hero section-bg-color1">
            <div class="row">
              <div class="small-12 medium-10 large-10 small-centered columns">
                <div class="download-box dlb-form">
                  <div id="mc_embed_signup">
                    <form {{action "postStatement" newPost on="submit" }}>
                      {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
                      <div id="recaptcha"></div>
                      <div class="status-text">
                        {{#if verifyingCaptcha}}
                        <p>Verifying Captcha...</p>
                        {{/if}} {{#if showingCaptcha}}
                        <p>Getting a Captcha...</p>
                        {{/if}} {{#if captchaVerified }}
                        <p>Now that we know you are a human, hit post again to share.</p>
                        {{/if}} {{#if tryAgain}}
                        <p>Try again...</p>
                        {{/if}}
                      </div>
                      <button class="button radius" type="submit">Post</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

{{!--     </div>
  </div>
</div> --}}

<div class="row">
  <div class="small-12 medium-10 large-10 small-centered columns">
    <div id="page-wrap">

      <div class="section-hero section-bg-color1">
        <div class="row">
          <div class="small-12 medium-10 large-10 small-centered columns">
            <div class="download-box">
              {{!-- <div id="mc_embed_signup"> --}}
                <ul>
                  {{#each}}
                  <p class="truths">{{body}}</p>
                  {{/each}}
                </ul>
              {{!-- </div> --}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer class="section-bg-color2">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <ul>
        <li>&copy;2014 {{#link-to 'whatsreal'}}RealFeelz{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</footer>